<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="https://images.squarespace-cdn.com/content/v1/601e729c9c6bdd6741eabb59/1612619927097-1DRCEK85SJNWMSD844UU/ke17ZwdGBToddI8pDm48kNEqxyiHHxAc_sG19F29hWpZw-zPPgdn4jUwVcJE1ZvWEtT5uBSRWt4vQZAgTJucoTqqXjS3CfNDSuuf31e0tVGpnhgtn4PEocMF0psB1Sjcm1sQ2bqLldLq3FFJ-jpvxGQ6l2WM7tn7mqHTODzkmeM/53d33f081b7982ea26e8cc9338b6509d-sticker.png?format=500w">
        <p>My name is {{name}}. I am studying Node.js right now!</p>
    </div>
    {{>footer}}
</body>

</html>