<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="https://images.squarespace-cdn.com/content/v1/601e729c9c6bdd6741eabb59/1612619927097-1DRCEK85SJNWMSD844UU/ke17ZwdGBToddI8pDm48kNEqxyiHHxAc_sG19F29hWpZw-zPPgdn4jUwVcJE1ZvWEtT5uBSRWt4vQZAgTJucoTqqXjS3CfNDSuuf31e0tVGpnhgtn4PEocMF0psB1Sjcm1sQ2bqLldLq3FFJ-jpvxGQ6l2WM7tn7mqHTODzkmeM/53d33f081b7982ea26e8cc9338b6509d-sticker.png?format=500w">
        <h2>My name is {{name}}!</h2>
        <p>저는 서울대학교 원자핵공학과에 재학중입니다.</p>
        <p>현재는 싱귤러랩이라는 스타트업을 공동창업해서 소프트웨어 엔지니어로 일하고 있습니다.</p>
        <p>나중에는 개발자로 남기보다는 기업 내에서 제품 기획부터 출시 이후까지의 토탈 브랜딩을 총괄하고 싶습니다.</p>
        <p>제 행보를 지켜봐주세요!</p>
        <h3>Tech Stack</h3>
        <p>Frontend: Flutter</p>
        <p>Backend: Node.js</p>
        <p>BaaS: Firebase</p>
    </div>
    {{>footer}}
</body>

</html>